<div class="user-details">
  <h1>Adaway for Windows 란?</h1>
  <p>{{ site.user_description }}</p>
  <br>
  <h1>Download</h1>
  <p>다운로드는 <a href="https://github.com/NewPremium/Adaway_for_Windows/releases" target="_blank">여기</a>서 하시면 됩니다.</p>
  <br>
  <h1>주의사항</h1>
  <p>{{  }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>오픈 소스 소프트웨어</h2>
    <p><a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GPLv3</a> 라이선스에 따라 사용하여 자유롭게 사용 가능합니다.</p>
  </div>
  <div class="tech">
    <h2>소스 커스텀</h2>
    <p>hosts 파일의 소스를 쉽게 추가하세요.</p>
  </div>
  <div class="tech">
    <h2>쉬운 hosts 업데이트</h2>
    <p>프로그램을 열고 업데이트가 있으면 2번 항목을 선택하기만 하면 순식간에 업데이트 됩니다.</p>
  </div>
</div>
